init.author.name=Carlos Delfino
init.author.email=consultoria@carlosdelfino.eti.br
init.author.url=http://carlosdelfino.eti.br
init.license=MIT
init.version=0.0.1
registry=https://registry.npmjs.org/
@CursoArduinoMinas:registry=https://registry.npmjs.org/
@proplugins:registry=https://npm.proplugins.org
@ArduinoMinas:registry=https://npm.pkg.github.com/ArduinoMinas
@CarlosDelfino:registry=https://npm.pkg.github.com/CarlosDelfino
@streetpet:registry=https://npm.pkg.github.com/streetpet
PYTHON=C:/Python/Python37/python.exe
python=C:/Python/Python37/python.exe
